USE [master]
GO
/****** Object:  Database [testjQgrid]    Script Date: 01/22/2011 10:25:22 ******/
CREATE DATABASE [testjQgrid] ON  PRIMARY 
( NAME = N'testjQgrid', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\testjQgrid.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'testjQgrid_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\testjQgrid_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testjQgrid].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [testjQgrid]
GO
/****** Object:  Table [dbo].[userinfo]    Script Date: 01/22/2011 10:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userinfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fname] [nvarchar](150) NULL,
	[lname] [nvarchar](150) NULL,
	[city] [nvarchar](150) NULL,
 CONSTRAINT [PK_userinfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
